body{
  background: #abadef;
  text-align: center;
  line-height: 3.5px;
}

.box{
  width: 50%;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:15px;
  background: #ffffff;
  box-shadow: 0px 10px 10px -10px #000;
}

.message_error, .message_success{
  border-radius:4px;
  padding:15px;
  margin:8px auto;
  width:50%;
}

.message_error{
  color:red;
  border:1px solid red;
}

.message_success{
  color:green;
  border:1px solid green;
}
